/* .location-section {
    color: #fff;
    padding: 4rem 2rem;
    display: flex
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    background: #0f0f0f;
    border-radius: 2rem;
    backdrop-filter: blur(12px);
    box-shadow: 0 12px 32px rgba(0, 0, 0, 0.4);
    padding: 3rem;
    gap: 3rem;
    justify-content: space-between;
    z-index: 10;
  } */

  .location-section {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    gap: 12px;
    padding: 6vw 4vw;
    color: white;
    /* background: linear-gradient(to bottom right, rgba(255, 240, 250, 0.05), rgb(189 25 172 / 47%)); */
    background: linear-gradient(to bottom, #ff69b4 0%, #fff176 100%);
    backdrop-filter: blur(10px);
    border-radius: 2rem;
    margin: 3rem auto;
    box-shadow: 0 12px 36px rgba(0, 0, 0, 0.4);
    max-width: 1300px;
    animation: fadeIn 1.2s ease-in-out;
    transition: all 0.4s ease-in-out;
    font-family: 'Poppins', 'Helvetica Neue', sans-serif;
  }
  
  .location-header {
    margin-bottom: .5rem;
  }
  
  .location-header h2 {
    font-size: 2.8rem;
    color: #fff176;
    margin-bottom: 1rem !important;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    text-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  }
  
  .location-header p {
    font-size: 1.2rem;
    color: #black !important;
    opacity: 0.9;
  }
  
  .streetname{
    font-size: 1.2rem;
    color: #0f0f0f !important;
    opacity: 0.9;
    margin:0;
  }
  
  .map-container {
    width: 100%;
    height: 450px;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.5);
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    .location-header h2 {
      font-size: 2rem;
    }
  
    .map-container {
      height: 300px;
    }
  }
  
  @media (max-width: 480px) {
    .location-section {
      padding: 3rem 1rem;
    }
  
    .location-header p {
      font-size: 1rem;
    }
  }
  