@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.container {
  font-family: 'Pacifico', cursive;
  background: linear-gradient(to bottom, #fff176 0%, #ff69b4 100%);
  color: #fff;
  padding: 20px;
  min-height: 100vh;
  box-sizing: border-box;
}

.header {
  text-align: center;
  margin-bottom: 30px;
}

.header h1 {
  font-size: 2.5rem;
  color: white;
}

.tagline {
  font-size: 1rem;
  color: #fff8e1;
}

.section {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 12px;
  padding: 15px;
  margin-bottom: 20px;
}

.section h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #fff;
}

.menuItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  font-size: 1.1rem;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
    font-size: .5rem;
}